//TOP SECTION
.detail-top {
  border-bottom: solid 1px $light-grey;
  padding-bottom: 40px;

  .left-side {
    width: 100%;

    .ui.medium.image {
      width: 100%;
      box-shadow: 0 13px 22px 0 rgba(0,0,0,0.46);
    }

    .tag-container {
      margin-bottom: 20px;
    }
  }

  .right-side {

    .tag-container {
      margin-top: 6px;
      margin-bottom: 0;
    }


    .category,
    .category * {
      font-size: 18px;
      color: $dark-grey;
      margin-bottom: 10px;
    }

    .title {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .profile {
      display: flex;
      align-items: center;
      color: $dark-grey;
      font-size: 14px;
      margin-bottom: 40px;

      a {
        margin-left: 10px;
      }
    }

    .ui.grid {
      margin-bottom: 40px;
    }

    .timer {
      padding-top: 20px;
      display: flex;

      div {
        margin-right: 10px;
      }
    }

  }

}

.two-column,
.one-column {
  display: flex;
  width: 100%;

  .btn {
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .col {
    width: 50%;
  }
}

.two-column {
  .column-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .column-right {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.one-column{

  .column {
    display: flex !important;
    flex-wrap: wrap;
  }

  .btn {
    margin-right: 8px;
  }
}

.detail-feature-title {
  font-size: 16px;
}
.feature-label {
  font-size: 32px;
  font-weight: 700;
  margin-top: 8px;
}
.feature-label-link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: $theme-color;
}

//BOTTOM SECTION
.detail-bottom {
  .tag-container {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.table-header {
  background-color: $third-theme-color;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  color: $white;
  text-transform: uppercase;
  height: 35px;

  .table-left {
    width: 70%;
    display: flex;
  }

  .table-right {
    width: 30%;
    text-align: right;
  }
}

.history-container {

  .ui.raised.segment {
    box-shadow: none;
    border: none;
    border-bottom: solid 1px $theme-color ;
    border-radius: 0;
    padding: 10px;

    .label,
    .detail {
      background: transparent !important;
    }

    .label {
      padding: 0;

      img {
        position: relative;
        top: 11px;
      }
    }

    .detail {
      width: 100%;
      margin-left: 21px;
      margin-top: 2px;

      a {
        color: $theme-color;
        font-weight: 700;
      }
    }

    .user.icon {
      display: none;
    }

    .ui.top.right.attached.label {
      top: 22px;
      color: $theme-color;
      font-weight: 700;
      font-size: 18px;
      right: 10px;
    }
  }
}

.timer-container {
  max-width: 500px;
  display: flex;

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 8px #000000;
    width: 77px;
    height: 77px;
    margin-right: 6px;
    margin-top: 10px;
  }
  h2 {
     font-size: 15px;
  } 
}

.detail .auction-text,
.detail .active-auction {
  display: none;
}

@media (min-width: 768px) {
  .detail-top {
    display: flex;

    .left-side {
      max-width: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .right-side {
      max-width: 50%;
      width: 100%;
      padding-left: 40px;
    }
  }

  .detail-bottom {
    display: flex;

    .bottom-left {
      width: 60%;
      padding-right: 40px;
    }

    .bottom-right {
      width: 40%;
      padding-top: 10px;
    }
  }

  .videoClass .nft-media,
  .videoClass .nft-media video {
    width: 100%;
  }

  .timer-container {
    max-width: 500px;
    display: flex; 
  }
}

.documentClass .nft-media,
.documentClass .image {
  width: 100%;
}

@media (min-width: 992px) {
  .detail-top {
    .left-side {
      max-width: 31.44%;
    }

    .right-side {
      max-width: 68.56%;
      padding-left: 80px;
    }
  }

  .detail-bottom {
    .bottom-right {
      padding-left: 40px;
    }
  }

  .two-column {
    margin-top: 40px;

    .column-left {
      width: 35%;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: $light-grey;
        right: 30px;
      }
    }
    .column-right {
      width: 65%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .btn {
        margin-right: 8px;
      }
    }
  }

  .timer-container {
    .box {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }  
    h2 {
     font-size: 18px;
    }  
  }

  .one-column{

    .column {
      display: flex !important;
      flex-wrap: wrap;
    }

    .btn {
      margin-right: 8px;
    }
  }
}